<% if (page.layout=='post' || page.layout=='photo'){ %>
 <%- partial('_partial/head') %>
  <body>
    <div id="container">
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-2">
        <%- partial('_partial/header') %>
        </div>
        <div class="col-md-8">
      <%- body %>
        </div>
        <div class="col-md-2">
      <%- partial('_partial/post/toc',{item: page,table: true}) %>
        </div>
        </div>
      </div>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after_footer') %>
  </body>
</html>
<% } else if(page.layout=='page'){ %>
  <% if(page.source.match(/\.md$/)){ %>
    <%- partial('_partial/head') %>
      <body>
        <header>
          <%- partial('_partial/header') %>
        </header>
        <div id="container">
          <%- body %>
        </div>
        <%- partial('_partial/footer') %>
        <%- partial('_partial/after_footer') %>
      </body>
     </html>
     <% }else{ %>
    <%- page.content %>
  <% } %>
<% } else if(page.layout=='search'){ %>
<%- partial('_partial/head') %>
    <body>
      <header>
        <%- partial('_partial/header') %>
      </header>
      <div id="container">
        <%- partial('_partial/search')%>
      </div>
      <%- partial('_partial/footer') %>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else if(page.layout=='tags'){ %>
 <%- partial('_partial/head') %>
    <body>
      <div id="container">
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-2">
        <%- partial('_partial/header') %>
        </div>
        <div class="col-md-8">
      <%- partial('_partial/tags')%>
        </div>
        <div class="col-md-2">
      <%- partial('_partial/sidebar',{item: page,table: true}) %>
        </div>
        </div>
      </div>
    </div>
      <%- partial('_partial/footer') %>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else if(page.layout=='categories'){ %>
 <%- partial('_partial/head') %>
    <body>
      <div id="container">
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-2">
        <%- partial('_partial/header') %>
        </div>
        <div class="col-md-8">
      <%- partial('_partial/categories')%>
        </div>
        <div class="col-md-2">
      <%- partial('_partial/sidebar',{item: page,table: true}) %>
        </div>
        </div>
      </div>
    </div>
      <%- partial('_partial/footer') %>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else if(page.category!=null||page.tag!=null||page.archive!=null) { %>
  <%- partial('_partial/head') %>
    <body>
      <div id="container">
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-2">
        <%- partial('_partial/header') %>
        </div>

      <%- body %>
  

        </div>
      </div>
    </div>
      <%- partial('_partial/footer') %>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else { %>
 <%- partial('_partial/head') %>
  <body>
    <div id="container">
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-2">
        <%- partial('_partial/header') %>
        </div>
        <div class="col-md-8">
      <%- body %>
        </div>
        <div class="col-md-2">
      <%- partial('_partial/sidebar',{item: page,table: true}) %>
        </div>
        </div>
      </div>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after_footer') %>
  </body>
 </html>
<% } %>